<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 bg-white px-0 px-sm-2">
            <div class="d-flex flex-column align-items-start align-items-sm-center min-vh-100">
                <div class="d-flex pt-3">
                    <a href="/" class="text-dark text-decoration-none fs-5 fw-bold">Shopsy</a>
                </div>
                <ul class="nav nav-pills d-flex flex-column list-unstyled gap-4 mt-4">
                    <li class="nav-item">
                        <a href="" class="nav-link active text-light bg-dark" aria-current="page"><i class="fa-solid fa-bars"> Dashboard</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-dark"><i class="fa-solid fa-box"> Products</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-dark"><i class="fa-solid fa-users"> Users</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-dark"><i class="fa-solid fa-cart-shopping"> Orders</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-dark"><i class="fa-solid fa-paper"> Sales Report</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-dark"><i class="fa-solid fa-star"> Marketign Tools</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-dark"><i class="fa-solid fa-box"> Returns</i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-xl-10" id="content-area"></div>
    </div>
</div>