<h4>Verify you Email</h4>
<p>Enter the 6 digit otp that send to {{user}} to verify you!</p>
<label for="">{{message}}</label>
<form action="/verify_email" method="post">
    <input type="text" id="otp_email" name="otp">
    <button type="submit" class="btn btn-info d-block">Verify</button>
</form>
