*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#efeded;
}

#main-container{
    background-color: var(--main-color);
}
ul .nav-link{
    font-family: 'Inter', sans-serif;
    font-size: .8rem;
}
.user-details input{
    width: 250px;
    border: none;
    background:transparent;
}